.header-form-barcode:focus {
    border-color:#6c757d!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.header-form-barcode {
    border-color:#6c757d!important;
}